@media (min-width: 1024px) {
	.container {
		margin: 96px 115px 0 160px;
	}

	.input-6 {
		display: none;
	}

	.input-7 {
		display: block;
	}

	.tittle {

		& span {
			margin-left: 3px;
			padding-right: 3px;
		}
	}

	.link {
		margin-bottom: 11px;
		margin-top: 24px;

		&__hovered {
			padding: 1px;
		}

		&__text {
			padding-left: 1px;
			padding-bottom: 11px;
			&:nth-child(4) {
				margin-top: 1px;
			}
		}
	}

	.block {
		margin-right: -6px;
		margin-top: -18px;
	}

	form {

		.input {
			margin-bottom: 20px;
			padding-bottom: 4px;
			&-select {
				margin-top: 2px;
				margin-bottom: 21px;
			}
		}

		label {
			padding-right: 28px;

			&:nth-child(8) {
				padding-top: 1px;
				padding-left: 1px;
			}
			
			&:nth-child(6) {
				display: none;
			}

			&:nth-child(7) {
				order: 1;
				display: block;
				& .element {
					margin-top: 5px;
				}
			}

			&:nth-child(10) {
				padding-top: 6px;
			}

			&:nth-child(9) .element {
				letter-spacing: 0.3px;
			}
		}

		.label {
			&::before {
				top: 12px;
				right: 33px;
			}

			&::after {
				top: 7px;
				right: 38px;
			}
		}

		.label-select {
			
			&::before {
				top: 13px;
				right: 33px;
			}

			&::after {
				top: 13px;
				right: 33px;
			}
		}

		.elements {
			.wrapper__button {

				width: 45%;
				button {
					margin-top: 7px;
					width: 39.5%;
					&:nth-child(1) {
						margin-left: 23px;
					}

					&:nth-child(2) {
						margin-right: 25px;
					}
				}
			}
		}
	}
}
